:root {
  --primary-blue: #054463;
  --primary-link-color: #117dc1;
  --primary-bg-color: #ededed;
  --hover-link-color: #3497d5;
  --primary-button-bg-hover: #1e698f;
  --white: #ffffff;
  --black: #000000;
  --red: #ef9a9a;
  --green: #a5d6a7;
  --background-overlay: rgba(0, 0, 0, 0.499);
  --border-radius: 8px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--primary-bg-color);
  font-family: "Poppins", sans-serif;
}

.landing-page {
  position: relative;

  display: grid;
  grid-template-rows: 1fr 0.9fr;
  width: 100%;
  height: 100vh;
}

.landing-page-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  h1 {
    margin-bottom: 1.5rem;

    color: var(--primary-blue);
    font-family: "Poppins", sans-serif;
    font-size: clamp(3rem, 7vw, 7rem);
    text-decoration: none;
  }
}

.landing-page-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game-button {
  margin-bottom: 0.7rem;
  padding: 1rem 1.5rem;

  font-size: clamp(1rem, 1.5vw, 2rem);
  color: var(--white);
  background-color: var(--primary-blue);
  text-decoration: none;
  border: none;
  border-radius: var(--border-radius);

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary-button-bg-hover);
  }
}

.onboarding-link {
  color: var(--primary-link-color);
  background-color: transparent;
  font-size: 1.2rem;
  text-decoration: underline;
  border: none;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: var(--hover-link-color);
  }
}

.landing-page-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    position: absolute;
    bottom: 0;
    width: 38rem;
  }
}

.instructions-modal {
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;

  display: none;
  align-items: center;
  width: 450px;
  padding: 15px;

  background-color: var(--white);
  transform: translate(-50%, -50%);
  border-radius: var(--border-radius);

  img {
    object-fit: cover;
  }
}

.modal-close {
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-link-color);
  border: none;

  &:hover {
    color: var(--hover-link-color);
  }
}

// Game styling

.game-container {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 4fr 5fr 1fr;
  width: 100vw;
  height: 100vh;
}

.containers-section {
  grid-column: 2;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bin-container {
  position: relative;
  display: grid;
  grid-template-rows: 4fr 2fr;
}

.bin-image {
  grid-row: 2;

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

  img {
    position: absolute;
    bottom: 0;
    width: clamp(100px, 25vh, 300px);
  }
}

.dropzone-container {
  grid-row: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;

  background-color: var(--white);
  border-radius: 50%;
  border: dashed 1px var(--black);
}

.items-container {
  grid-column: 3;

  display: grid;
  width: 35rem;
  padding-top: 50px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  align-items: center;
  place-items: center;
  margin-left: 100px;
}

.item {
  cursor: grab;
  width: 60%;
}

.replay-btn-container {
  position: absolute;
  top: 85%;
  right: 5%;
}

.replay-btn {
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary-blue);

  border: none;
  border-radius: 8px;
  padding: 1rem 1.5rem;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--primary-button-bg-hover);
  }
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.end-modal {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;

  display: none;
  width: 40rem;
  height: 20rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--primary-bg-color);
  border-radius: 8px;
  transform: translate(-50%, -50%);
  gap: 30px;

  p {
    color: var(--primary-blue);
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  z-index: 98;

  display: none;
  width: 100vw;
  height: 100vh;

  background-color: var(--background-overlay);
  overflow: hidden;
}
