:root {
  --primary-color: #054463;
  --primary-button-bg-color: #117dc1;
  --primary-button-bg-hover: #1e698f;
  --white: #ffffff;
}

body {
  background-color: #ededed;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

canvas {
  position: relative;
  top: 0;
  left: 0;
}

.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;

  font-family: "Poppins", sans-serif;

  display: grid;
  grid-template-rows: 1fr 0.9fr;

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: end;

    a {
      font-size: clamp(1rem, 1.5vw, 2rem);
    }

    button {
      cursor: pointer;

      transition: background-color 0.3s ease;
    }

    h1 {
      font-family: "Poppins", sans-serif;
      font-size: clamp(3rem, 7vw, 7rem);
      text-decoration: none;
      color: var(--primary-color);
      margin-bottom: 1.5rem;
      // margin-top: 5rem; //TODO: if possible, change this to make it more responsive on bigger screen sizes
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    .start-game-button {
      color: var(--white);
      text-decoration: none;
      background-color: var(--primary-color);
      margin-bottom: 0.7rem;
      border: none;
      border-radius: 8px;
      padding: 1rem 1.5rem;

      a {
        color: white;
        text-decoration: none;
      }

      &:hover {
        background-color: var(--primary-button-bg-hover);
      }
    }

    .onboarding-link {
      background-color: transparent;
      border: none;
      color: var(--primary-button-bg-color);
      transition: color 0.3s ease;
      font-size: 1.2rem;
      text-decoration: underline;
      &:hover {
        color: #3497d5;
      }
    }
  }

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      position: absolute;
      bottom: 0;
      width: 38rem;
    }
  }
}

.instructions-modal {
  display: none;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  width: 450px;
  padding: 15px;
  border-radius: 8px;

  img {
    object-fit: cover;
  }
}

.modal-close {
  cursor: pointer;
  background-color: transparent;
  color: #117dc1;
  border: none;

  &:hover {
    color: #3497d5;
  }
}

// Game styling

#game-container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  width: 100vw;
  height: 100vh;
  position: relative;
}

// .box {
//   width: 100px;
//   height: 100px;
//   display: flex;
//   justify-content: center;
//   // align-items: center;
//   border-radius: 50%;
//   cursor: move;

//   img {
//     width: 100%;
//   }
// }

.empty {
  width: 120px;
  height: 120px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  border: dashed 1px black;
}

.bin-container {
  position: relative;
  display: grid;
  grid-template-rows: 4fr 2fr;
}

.empty-container {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  // margin-top: 100px;
}

.containers-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rubbish-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  place-items: center;
  margin-left: 100px;
}

.all-rubbish {
  display: grid;
  width: 35rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 50px;
}

.removed-items {
  background-color: white;
  border-radius: 8px;
  height: 150px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  img {
    width: 80px;
  }

  padding: 30px;
  color: #054463;
  font-family: "Poppins", sans-serif;
}

.removed-container {
  margin-left: 100px;
  margin-top: 50px;
  color: #054463;

  h3 {
    margin-bottom: 15px;
  }
}
.rubbish {
  width: 70%;
  cursor: move;
}

.bin-image {
  grid-row: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  img {
    width: clamp(100px, 25vh, 300px);
    bottom: 0;
    position: absolute;
  }
}

.replay-btn-container {
  position: absolute;
  top: 85%;
  right: 5%;
}

.replay-btn {
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  background-color: var(--primary-color);

  border: none;
  border-radius: 8px;
  padding: 1rem 1.5rem;

  &:hover {
    background-color: var(--primary-button-bg-hover);
  }
}

.green {
  background-color: #a5d6a7;
}

.red {
  background-color: #ef9a9a;
}
